.stories-container {
	background-image: linear-gradient(
		to right,
		transparent 85%,
		black
	);
	z-index: 10;
	height: 120px;
	max-width: 500px;
	overflow-x: auto;
	margin-bottom: 1rem;
	position: relative;
}

.storie-user {
	margin-left: 1rem;
}

.stories-container::-webkit-scrollbar {
	display: none;
}

.storie-user_name {
	position: absolute;
	bottom: -2%;
	font-size: 0.8em;
	text-transform: lowercase;
}

@media (max-width: 510px) {
	.stories-container {
		max-width: 400px;
	}
}

@media (max-width: 405px) {
	.stories-container {
		max-width: 350px;
	}
}

@media (max-width: 360px) {
	.stories-container {
		max-width: 320px;
	}
}
