.post-container {
	margin: 2rem 0;
	height: 850px;
	width: 500px;
	background-size: cover;
	background-position: top;
	position: relative;
}

.post-container_liked {
	position: absolute;
	height: 850px;
	width: 500px;
	background-color: #00000070;
	transition: 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.heart-post_liked {
	font-size: 7em;
	color: red;
	position: relative;
	bottom: 50px;
}

.post-header {
	padding: 10px;
	position: absolute;
	top: 0;
	background-color: black;
}

.post-header .post-photo_user div {
	margin-right: 10px;
}

.post-header .post-username {
	font-size: 1em;
	font-weight: bold;
	text-transform: lowercase;
}

.post-date {
	font-weight: lighter;
	font-size: 0.8em;
}

.post-header .post-location {
	font-size: 0.7em;
}

.post-header .post-button_more {
	position: absolute;
	right: 2%;
	top: 5%;
	font-size: 2em;
	cursor: pointer;
}

.post-details_container {
	height: 220px;
	position: absolute;
	bottom: 0%;
	width: 100%;
	background-color: black;
	padding: 10px;
}

.icon-details {
	font-size: 1.8em;
	opacity: 0.8;
	cursor: pointer;
	transition: 1s;
}

.icon-details:hover {
	opacity: 1;
}

.post-details_likes {
	font-size: 0.86em;
	font-weight: lighter;
}

.post-details_likes .number_likes {
	margin: 0 4px;
	font-weight: bold;
}

.post-comments_container .comment {
	font-size: 0.9em;
	margin-top: 10px;
}

.post-comments_view_more {
	color: #bebebe;
	font-size: 0.9em;
	cursor: pointer;
}

.input-comment {
	position: relative;
}

.button-post_comment {
	position: absolute;
	right: 5%;
}

@media (max-width: 516px) {
	.post-container {
		width: 400px;
	}
}

@media (max-width: 405px) {
	.post-container {
		width: 350px;
	}
}

@media (max-width: 360px) {
	.post-container {
		width: 320px;
	}

	.post-details_likes {
		font-size: 0.7em;
	}

	.post-subtitle_container {
		font-size: 0.8em;
	}

	.post-comments_view_more {
		font-size: 0.7em;
	}

	.post-comments_container .comment {
		font-size: 0.7em;
	}
}
